*{
    
    zoom: 100%;
}
.phone{
    display: flex;
    justify-content: center;
    padding: 4%;
}
img{
    height: 600px;
    margin-top:-20px;
    margin-left: 3px;
}
.Calculator{
    background-color: black;
    padding-top: 252;
    padding-right: 5px;
    border-radius: 45px;
    width: 253px;
    height: 509px;
    border-bottom-right-radius: 30.9px;
    border-bottom-left-radius: 33px;
    margin-top: 36px;
    margin-right:-5px ;
    position: absolute;
}
input{
     width: 253px;
     height: 100px;
     font-size: xx-large;
     text-align: right;
    
}
.Display{
    background-color: black;
    position: absolute;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid black;
    
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
    margin-left: -8%;
    margin-top: 56.9%;
}

button{
    border-top: 1px solid black;
    width: 53.8px;
    height: 53.8px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 21%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

button:hover{
    background-color: hsl(0, 0%, 35%);
}
button:active{
     background-color: hsl(0, 0%, 50%);
}
.ot{
    background-color: hsl(0, 0%, 40%);
}
.ot:hover{
    background-color: hsl(0, 0%, 49%);
}
.ot:active{
    background-color: hsl(0, 0%, 48%);
}
.op{
    background-color: hsl(35, 100%,55%);
}
.op:hover{
    background-color: hsl(35, 100%,65%);
}
.op:active{
    background-color: hsl(35, 100%,75%);
}